<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="Classes" EntityName="Classes" Owner="dbo" PropertyName="Classes" FieldName="_classes" FriendlyName="Classes" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="ClassNumber" CSType="System.String" PropertyName="ClassNumber" FieldName="_classNumber" FriendlyName="Class Number" IncludeInOutput="true" />
		<ChildCollection Id="StudentsCollection" PropertyName="StudentsCollection" FieldName="_studentsClassId" FriendlyName="StudentsCollection" CSType="TList&lt;Students&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Students_Classes1" IncludeInOutput="true"/>
	</Table>
	<Table Id="Students" EntityName="Students" Owner="dbo" PropertyName="Students" FieldName="_students" FriendlyName="Students" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="ClassId" CSType="System.Int32" PropertyName="ClassId" FieldName="_classId" FriendlyName="Class Id" IncludeInOutput="true" />
		<Column Id="Birthdate" CSType="System.DateTime" PropertyName="Birthdate" FieldName="_birthdate" FriendlyName="Birthdate" IncludeInOutput="true" />
		<Column Id="Gender" CSType="System.String" PropertyName="Gender" FieldName="_gender" FriendlyName="Gender" IncludeInOutput="true" />
	</Table>
</NetTiersMap>
